@import "variables";


// start to static header
.auth-background {
    background-color: #AC5A9F;
    padding: 100px 0;
    overflow-y: auto;
    height: 100vh;
    position: relative;
    @media (max-width: $screen-xl) {
      padding: 80px 0;   
    }
    @media (max-width: $screen-md) {
      padding: 50px 0;
    }
    &.default-height {
        height: auto;
    }
}

.auth-img {
    position: absolute;
    @include dir-right(0);
    width: 50%;
    top: 15px;
}

.custom-layout {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px gray;
}

.custom-form-width {
    width: 500px;
    max-width: 100%;
}

.custom-form {
    .head-form {
        text-align: center;
        margin-bottom: 40px;
        .form-logo {
            max-width: 90px;
            object-fit: cover;
            margin-bottom: 10px;
            @media (max-width: $screen-xs) {
              max-width: 70px;
            }
        }
    }
}

.form-padding {
    padding: 30px;
    @media (max-width: $screen-xs) {
        padding: 25px 15px;
    }
}

.tabsBtns {
    .custom-btn {
        background-image: linear-gradient(to top, #c2c2c2, #c2c2c2);
        &:hover {
            .bt-text {
                color: #000 !important;
            }
        }
        .bt-text {
            color: #000;
        }
    }
    .single_btn_tab {
        &.active {
            background-image: linear-gradient(to top, #161b4b, #161b4b);
            .bt-text {
                color: #fff;
            }

            &:hover {
                .bt-text {
                    color: #fff !important;
                }
            }
        }
    }
}

.cl-purple {
    color: #EE3F7C;
}

.services-box {
    position: relative;
    height: 100%;
    margin-bottom: 0;
    border-radius: 8px;
    .box-img {
        margin-bottom: 10px;
    }
    .service-img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        border-radius: 4px;
        @media (max-width: $screen-xs) {
          height: 150px;
        }
    }
    .accept-check {
        position: absolute;
        top: 15px;
        @include dir-right(15px);
        margin: 0;
        @include dir-margin-right(0px !important);
        .span-check {
            @include dir-margin-right(0 !important);
            background-color: #fff;
        }
    }

    .service-text {
        text-align: center;
        .title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .hint-text {
            font-size: 14px;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }
}

.close-model {
    display: flex;
    margin: 20px 0;
    margin-inline-start: auto;
}

.upload-img i {
    font-size: 20px;
    color: #1799c6;
    font-style: normal;
    position: absolute;
    top: 30%;
    background: #fff;
    line-height: 50px;
    @include dir-right(-7px);
  }
  
  .images-upload-block {
    display: block;
    position: relative;
    margin: 15px auto;
    width: 110px;
    height: 110px;
  }
  
  .upload-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: #fff;
    text-align: center;
    position: relative;
    border-radius: 0;
    margin: 0px;
  }
  
  .uploaded-block {
    position: absolute;
    top: -5px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    @include dir-right(6px);
  }
  
  .uploaded-block img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
  }
  
  .images-upload-block .img-profile {
    position: absolute;
    top: 0;
  }
  
  .uploaded-block .close {
    position: absolute;
    top: 45%;
    color: #fff;
    background: #1799c6;
    font-size: 21px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    opacity: 1;
    @include dir-right(-18px);
    z-index: 5;
  }

  .img-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 7px;
  }

  .img-profile .abs {
    position: absolute;
    @include dir-right(50%);
    #{$ltr} & {
      transform: translate(50%) rotate(190deg);
    }
    #{$rtl} & {
      transform: translate(-50%) rotate(20deg);
    }
    padding: 0;
    transition: all 1s ease-in-out;
  }
  
  .img-profile:hover .abs {
    #{$ltr} & {
      transform: translate(50%) rotate(360deg);
    }
    #{$rtl} & {
      transform: translate(-50%) rotate(360deg);
    }
  }

  .upload-img input {
    opacity: 0;
  }
  
  table.dataTable {
    margin-top: 0 !important;
  }

  .table-responsive {
    overflow: hidden;
  }

  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
  }